<div>
	<div style="height:20vh;">
		<div class="inputDiv">
			<input type="text" ng-model="playerName">
			<button ng-click="getCurrentGame()">get player</button>
		</div>
	</div>

	<div style="height:80vh; width: 100%; margin: auto 0">
		<table class="table">
			<tr>
				<th>Champion</th>
				<th>Chapmion Average</th>
				<th>Summoner</th>
				<th>League</th>
				<th>Season Total</th>
				<th>Season Average</th>
				<th>Rune</th>
				<th>Mastery</th>
				<th>Last 10</th>
			</tr>
			<tr ng-repeat="player in blue" class="teamBlue" load-td></tr>
			<tr ng-if="ban" ng-show="loadComplete">
				<td class="championBan" colspan="9">
					<div class="blueBan">
						<img class="large bannedImg" ng-repeat="bannedChampion in ban.blue" ng-src="{{bannedChampion.url}}">
					</div>
					<div class="purpleBan">
						<img class="large bannedImg" ng-repeat="bannedChampion in ban.purple" ng-src="{{bannedChampion.url}}">
					</div>
				</td>
			</tr>
			<tr ng-repeat="player in purple" class="teamPurple" load-td></tr>
		</table>
	</div>
</div>