<div>
	<div style="height:20vh;">
		<div class="inputDiv">
			<input type="text" ng-model="playerName">
			<button ng-click="getCurrentGame()">get player</button>
		</div>
	</div>

	<div id="masteryModal" class="modal fade masteryModal" role="dialog">
		<div class="modal-dialog">
			<ng-include src="'html/mastery.html'"></ng-include>
		</div>
	</div>

	<div style="height:80vh; width: 100%; margin: auto 0">
		<table class="table">
			<tr>
				<th>Champion</th>
				<th>Champion Average</th>
				<th>Summoner</th>
				<th>League</th>
				<th>Season Total</th>
				<th>Season Average</th>
				<th>Rune</th>
				<th>Mastery</th>
				<th>Last 10</th>
			</tr>
			<tr ng-repeat="player in blue" class="teamBlue" load-player></tr>
			<tr ng-if="ban" ng-show="loadComplete" load-ban></tr>
			<tr ng-repeat="player in purple" class="teamPurple" load-player></tr>
		</table>
	</div>
</div>
